.clear
{
	clear: both;
}

.sub-menu 
{
	float:left;
	
	text-align:left;
}
.nmg{margin:0;}
.npd{padding:0;}
.pd15{padding:15px;}

.sub-menu a
{
	margin-top:2px;
	margin-bottom:10px;
	margin-right:20px;
	float:left;
	color:#333333;
	font-size:13px;
	text-align:left;
	text-decoration:none;
}

.f-right
{
	float:right;
}

.footer-information
{
	font-size:11px;
	
}

#control-panel
{
	float: right;
	width: 600px;
}

#information-panel
{
	float:left;
	width: 330px;
	color:#333333;
}

.large-tile
{
	width:98%;
	height:120px;
	background:#008ecd;
	border-bottom: 4px solid #0481B8;
	color:#ffffff !important;
	text-decoration:none;
	display:block;
}

.large-tile:hover
{

	height:120px;
	background:#0481B8;
	border-bottom: 4px solid #0481B8;
	color:#ffffff !important;
	text-decoration:none;
	display:block;
}

.large-tile h1
{
	color:white;
	padding-top: 25px;
	padding-left: 20px;
	margin-bottom:0px;
}

.large-tile h5
{
	color:white;
	margin-top: 0px;
	padding-left: 20px;
	font-size:16px;
	font-weight:400;
	
}


.small-tile
{
	width:220px;
	height:95px;
	background:#f0f1f4;
	padding:10px;
	float:left;
	margin-top:5px;
	margin-right:8px;
	color:#000000 !important;
	text-decoration:none !important;
	display:block;
	
}

.small-tile:hover
{
	text-decoration:none;
	
}


.small-tile h3
{
	font-weight:400;
	font-size:18px;
	padding-left: 8px;
	padding-top:15px;
}

.small-tile h6
{
	font-weight:400;
	font-size:12px;
	padding-left: 8px;
	margin-top:3px;
}

#header
{

}

#footer
{
	width:100%;
}

.green-back
{
	border-bottom: 4px solid #8dbf35;
}

.green-back:hover
{
	border-bottom: 4px solid #8dbf35;
	background:#8dbf35;
	color:#ffffff !important;
}

.green-back
{
	border-bottom: 4px solid #8dbf35;
}

.green-back:hover
{
	border-bottom: 4px solid #8dbf35;
	background:#8dbf35;
	color:#ffffff !important;
}

.blue-back
{
	border-bottom: 4px solid #5ea8de;
}

.blue-back:hover
{
	border-bottom: 4px solid #5ea8de;
	background:#5ea8de;
	color:#ffffff !important;
}

.gray-back
{
	border-bottom: 4px solid #9c9da0;
}

.gray-back:hover
{
	border-bottom: 4px solid #9c9da0;
	background:#9c9da0;
	color:#ffffff !important;
}

.lila-back
{
	border-bottom: 4px solid #7b4f9d;
}

.lila-back:hover
{
	border-bottom: 4px solid #7b4f9d;
	background:#7b4f9d;
	color:#ffffff !important;
}

.red-back
{
	border-bottom: 4px solid #f7866a;
}

.red-back:hover
{
	border-bottom: 4px solid #f7866a;
	background:#f7866a;
	color:#ffffff !important;
}

.yellow-back
{
	border-bottom: 4px solid #d8c967;
}

.yellow-back:hover
{
	border-bottom: 4px solid #d8c967;
	background:#d8c967;
	color:#ffffff !important;
}


.nav-link
{
	color:white !important;
}

#loading
{
	visibility:hidden;
}

.border-top
{
	border-top:1px solid #cccccc;
}

.border-bottom
{
	border-bottom:1px solid #cccccc;
}

#main-content
{    min-height:400px;
     height:auto !important;
     height:400px; 

}	

.rounded-borders
{
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.large-font
{
	font-size:24px;
	font-weight:400 !important;
}

.medium-font
{
	font-size:24px;
	font-weight:400 !important;
	color:#666666;
	
}

.small-font
{
	font-size:12px;
	font-weight:400 !important;
	color:#666666;
}

.mobile-medium-font
{
	font-size:18px;
	font-weight:400 !important;
	color:#666666;
	
}

.page-icon
{
	border:0;
	margin-right:6px;
	position:relative;
	top:10px;
	z-index:-1;
}

.fright
{
	float:right;
}

.login-form-label
{
	width:90px; 
	float:left;
}


.login-form-wrapper
{
	width:340px; 
	float:left; 
	margin:20px 10px 0 5px;
}

.login-form-field
{
	width:200px;
	height:32px;
	float:left; 
	margin-bottom:10px;
}

.draw-shadow
{
	-moz-box-shadow: 0px 2px 0px #c6c6c6;
	-webkit-box-shadow: 0px 2px 0px #c6c6c6;
	box-shadow: 0px 2px 0px #c6c6c6;
}

.fleft
{
	float:left;
}

.top-right
{
	position:relative;
	top:2px;
	text-align:right;
	color:#2e8bcc;
	float:right;
	font-size:13px;
}

.top-logout-link
{
	color:#333333 !important;
	margin-right:8px;
	text-decoration:none;
}

.yellow-back-text
{
	background: yellow;
}


.loading-image
{
	float:left;
	position:relative;
	
	top:25px;
}

.table-tr th
{
	text-transform:uppercase;
	position:relative;
	top:-6px;
}

.admin-table
{
	background:#eeeeee;

}

.th-check
{
	
	position:relative;
	top:9px !important;
}
.header-td
{
	color:#333333 !important;
	position:relative;
	top:6px;
}

.small-nav-link
{
	color:#333333 !important;
	font-size:12px;
}

.language-link
{
	z-index:1000;
	position:relative;
	color:#333333 !important;
	margin-right:10px;
}

.page-tile
{
	cursor: hand;
	cursor: pointer;
	width:300px;
	height:40px;
	background:#f0f1f4;
	float:left;
	margin-top:5px;
	margin-right:8px;
	
	color:#333333 !important;
	display:block;
	
	border-style:solid;
	border-color:#5ea8de;
	border-width:1px 1px 4px 1px;
	
}


.page-tile-text
{
	padding-top:8px;
	padding-left:6px;
}

.page-tile-text b
{
	text-decoration:underline;
}

.cursor-hand
{
	cursor: hand;
	cursor: pointer;
}

.form-edit-field
{
	width:370px;
}

.left-align
{
	text-align:left;
}

.mobile-link
{
	margin-left:10px;color:#333333 !important;position:relative;top:-8px
}

.left-margin-20px
{
	margin-left:20px;
}

.bottom-margin-20px
{
	margin-bottom:20px;
}

.left-margin-30px
{
	margin-left:30px;
}

.login-screen-image
{
	position:relative;
	top:50px;
	left:25px;
}

.login-screen-footer
{
	font-size:22px !important;
	color:white;
	text-align:center;
}

.admin-preview-thumbnail
{
	float:left;
	width:50px;
	margin-right:10px;
	margin-bottom:10px;
}

#largeImage 
{
	position: absolute;
	padding: 8px;
	background-color: #e3e3e3;
	border: 1px solid #bfbfbf;
}
.bottom-container
{
	background: #f2f2f2;
	min-height:100px;
}
.top-bottom-margin
{
	margin-top:25px;
	margin-bottom:25px;
}
.tile-p
{
	
}
.t-padding
{
	padding-right:4px !important; 
	padding-left:4px !important;
}
.box-1-back
{
	background:#007AFF;
}

.box-1-back:hover
{
	background:#34AADC;
}


.box-2-back
{
	background:#FF9500;
}

.box-2-back:hover
{
	background:#D05C00;
}
.box-5-back
{
	background:#8E8E93;
}

.box-5-back:hover
{
	background:#716C4C;
}



.box-6-back
{
	background:#4CD964;
}

.box-6-back:hover
{
	background:#27A112;
}


.box-8-back
{
	background:#2D2D2D;
}

.box-8-back:hover
{
	background:#1b1b1b;
}

.box-3-back
{
	background:#7D3AE1;
}

.box-3-back:hover
{
	background:#6300B0;
}


.box-7-back
{
	background:#2A61BE;
}

.box-7-back:hover
{
	background:#213BA7;
}

.box-4-back
{
	background:#FF2D55;
}

.box-4-back:hover
{
	background:#C73D3D;
}
.menu-sub-link{
	position:relative;
	top:-1px;
}
.bottom-menu a
{
	color: #383838
}

.bottom-menu
{
	list-style-type: none;
	list-style: none;
	padding-top:30px;
	padding-bottom:10px;

}

.bottom-menu li
{
	
	margin-right:20px;
	display: inline;
}


.home-tile
{
	width:100%;
	height:130px;
	padding:10px;
	margin-top:5px;
	margin-right:8px;
	color:#ffffff !important;
	text-decoration:none !important;
	display:block;
}

.home-tile:hover
{
	text-decoration:none;
	
}

.home-tile h3
{
	font-weight:400;
	font-size:18px;
	padding-left: 8px;
	padding-top:20px;
}

.home-tile h6
{
	font-weight:400;
	font-size:12px;
	padding-left: 8px;
	margin-top:3px;
}

.top-links
{
	float:right;
}

.white-link
{
	color: white;
	text-decoration: underline;
}

.login-field
{
	background: #ffffff !important;
	background-color: #ffffff !important;
	border:1px solid #c0c0c0;
	width:300px;
	padding:8px;
	margin:0 auto;
	font-size:18px;
	color:#202020;
	-webkit-input-placeholder : #202020;
	-moz-placeholder: #202020;
	-ms-input-placeholder: #202020;
}

.no-top-border
{
	border-top:0px;
}


@media only screen and (min-width: 768px) 
{

	.navbar-collapse
	{
		float:right;
	}
	
	.main-top-link
	{
		font-size:14px !important;
	}
}

.menu-sub-link a
{
	text-decoration: none;
}



.admin-label
{
	float: left;
	font-size: 13px;
	width: 130px;
	clear:both;
	padding-top:10px;
}

.admin-field
{
	float:left;
	padding-top:4px;
}



.admin_ibutton,.ibutton,.adminButton
{
	 background:#57bdd4;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57bdd4', endColorstr='#0092a9'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#57bdd4), to(#0092a9)); 
	background: -moz-linear-gradient(top,  #57bdd4,  #0092a9); 

	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	font: 16px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	text-decoration:none !important;
	padding: 7px 25px;
}

.admin_ibutton:hover,.ibutton:hover,.adminButton:hover
{
	background: #0092a9;
	cursor: pointer;
	color:#ffffff !important;
}

#ContextMenu
{
	background: #F6F6F6;
	z-index:1111;
}


.search-form-menu
{
	
	width:100%;

}

.listing-feature-div
{
	font-weight:400;
	text-size:11px;
	float:left;
	width:220px;
	margin-top:2px;
	margin-left:2px;
}

.listing-feature-span
{
	position:relative;
	top:-8px;
	left:3px;
}

.default-button
{
	height: 32px;
}



.gray-div-back
{
	background:#eaeaea;
	width: 100%;
	padding:15px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.setup-button
{
	float:right;
	margin-top:10px;
	padding-left:15px !important;
	padding-right:15px !important;
	font-weight:bold !important;
}

.setup-field
{
	min-height:32px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}

.setup-wrapper
{
	border-top:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	
	min-width:700px;
	min-height:350px;
}

.btn-gradient:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-gradient {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e6e6e6, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  background-repeat: repeat-x;
  border-color: #e0e0e0;
  border-color: #ccc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
}

.h3-tile
{
	clear:both;
	
	padding-left:0px !important;
}



@media (max-width: 992px) 
{
	
	.dropdown-menu
	{
		display:none !important;
	}

	.container
	{
		
		width:100% !important;
		min-width:100% !important;
	}
	
	.hide-sm
	{
		display:none;
		padding-left:0 !important;
		padding-right:0 !important;
	}

	.center-xs
	{
		text-align: center;
	}
	
	 .navbar-nav > li > a 
	{
		font-size:18px !important;
		
		float:left !important;
		clear:both !important;
	}
	

	
	.nav .dropdown-menu
	{
		display: none !important;
	}
		
	
}


@media (min-width: 993px)
{

	.hide-sm
	{
		display:block !important;
	}
	
}

.expand_menu_link
{
	text-decoration:none;
	font-size:20px;
}


.expand_menu_link:hover
{
	text-decoration:none;
}

.site-logo
{
	position:relative;
	top:-10px;
}

.no-left-padding
{
	padding-left:0px !important;
}

.no-right-padding
{
	padding-right:0px !important;
}





.navbar-nav li:hover
{
	background:#ffffff !important;
	
}



.navbar ul ul 
{
	display: none;
	padding:0;
	margin:0;
}

.navbar ul li:hover > ul 
{
	display: block;
}


.navbar ul 
{
	
	list-style: none;
	position: relative;
	display: inline-table;
	
}

.navbar ul:after 
{
	content: ""; 
	clear: both; 
	display: block;
}

.navbar ul li 
{
	float: left;
	
}

.navbar ul li:hover 
{
		
}
		
.navbar ul li:hover a 
{
	color:#333333 !important; 
	text-decoration:none !important;
}
		
.navbar ul li a 
{
	display: block; 
	
	text-decoration: none;
}
			
		
.navbar ul ul 
{
	
	text-align:left;
	padding: 0;
	position: absolute; 
	top: 100%;
}
	
.navbar ul ul li 
{
	float: none; 
	border-top: 1px solid #f2f2f2;

	padding-top:1px;
	padding-bottom:1px;
	min-width:150px;

}

.navbar ul ul li:hover
{

}
		
.navbar ul ul li a
{
	
}	

.navbar ul ul li a:hover 
{
	color:#000000 !important;
}
		
.navbar ul ul ul 
{
	position: absolute; 
	left: 100%; 
	top:0;
}





.admin-site-logo
{
	margin-top:25px;
	margin-bottom:25px;
	margin-left:10px;
}

.no-top-margin
{
	margin-top:0px;
}

.home-stat-link
{
	margin-bottom:4px;
	padding:4px;
}

.home-stat-link:hover
{
	background:#eeeeee;
}

.no-decoration
{
	text-decoration:none !important;
}



.main-top-link
{
	text-transform: uppercase;
	text-decoration:none !important;
	color:#b7c3d3 !important;
	
}

.admin-bottom-link
{
	display:block;
	text-decoration:none !important;
	line-height: 30px;
}

.admin-bottom-link:hover
{

	text-decoration:underline !important;
}

.bottom-header
{
	margin-top:0px;
	font-weight:bold;	
}


input:not([type=checkbox]):not([type=radio]),select,textarea
{
	min-width:140px;
	border:1px solid #dddddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	padding:6px;
}

.small-font
{
	font-weight:400;
	font-size:11px;
}

#home-links-area
{
	background:#f5f5f5;
	border:1px solid #dddddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	
}

.alt-back
{
	background:#fafafa
}

.dropdown-menu
{
	position:relative;
	left:17px ;
}



@media (min-width: 1340px) {
  .container {
    width: 1160px !important;
  }
}



@media (min-width: 1600px) {
  .container {
    width: 1360px !important;
  }
}
.ui-datepicker {
	background-color: #fff;
	border: 1px solid #66AFE9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "<";
}
.ui-datepicker .ui-datepicker-next:before {
	content: ">";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}

div.loading{
	font-size: 14px;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	color: #333;
}
div.loading span {
	display: block; 
	margin: 0 auto;
}

div.loading span[class*="l-"] {
	height: 4px; width: 4px;
	background: #000;
	display: inline-block;
	margin: 12px 2px;
	
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	
	-webkit-animation: loader 4s infinite;
	-webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-webkit-animation-fill-mode: both;
	-moz-animation: loader 4s infinite;
	-moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-moz-animation-fill-mode: both;
	-ms-animation: loader 4s infinite;
	-ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-ms-animation-fill-mode: both;
	animation: loader 4s infinite;
	animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	animation-fill-mode: both;
}

div.loading span.l-1 {-webkit-animation-delay: 1s;animation-delay: 1s;-ms-animation-delay: 1s;-moz-animation-delay: 1s;}
div.loading span.l-2 {-webkit-animation-delay: 0.8s;animation-delay: 0.8s;-ms-animation-delay: 0.8s;-moz-animation-delay: 0.8s;}
div.loading span.l-3 {-webkit-animation-delay: 0.6s;animation-delay: 0.6s;-ms-animation-delay: 0.6s;-moz-animation-delay: 0.6s;}
div.loading span.l-4 {-webkit-animation-delay: 0.4s;animation-delay: 0.4s;-ms-animation-delay: 0.4s;-moz-animation-delay: 0.4s;}
div.loading span.l-5 {-webkit-animation-delay: 0.2s;animation-delay: 0.2s;-ms-animation-delay: 0.2s;-moz-animation-delay: 0.2s;}
div.loading span.l-6 {-webkit-animation-delay: 0;animation-delay: 0;-ms-animation-delay: 0;-moz-animation-delay: 0;}

@-webkit-keyframes loader {
	0% {-webkit-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-webkit-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-moz-keyframes loader{
	0% {-moz-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-moz-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-keyframes loader{
	0% {-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-ms-keyframes loader {
	0% {-ms-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-ms-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}


table.stepA tbody tr td:first-child,
table.stepB tbody tr td:first-child{
	text-transform:capitalize;
	font-weight: bold;
}

.top3{margin-top:3px;}
.top5{margin-top:5px;}
.top10{margin-top:10px;}
.top15{margin-top:15px;}

input[type="radio"].style:checked+label img{
	opacity:1;
}
input[type="radio"].style:checked+label img.checking{
	display:block !important;
}
img.opacity{
    border-radius: 7px;
	cursor:pointer;
	opacity:0.8;
}
img.checking {
    position: absolute;
    top: 25%;
    margin: auto;
    left: 37%;
	display:none;
}
