body{
	font-family: 'Lato', arial, sans-serif;
}

a{
	color:#222222;
}

a:hover{
	color:#000000;
}
#home_panel_wrap{
	background: url('../images/slide_bg.jpg') no-repeat center bottom;
	background-position: left;
}
.slider-back-core{
	min-height:230px;
	padding-top:45px !important;
}
.borderless td, .borderless th {
	border: none !important;
}
table.borderless {
    margin-bottom: 0;
    background: inherit !important;
}
.hover-static {
    position: absolute;
    width: 145px;
    height: 65px;
}
.slider-back{
	min-height:230px;
	background-color:#57bdd4;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#1e689a), to(#3e9ddc));
	background-image:-webkit-linear-gradient(top, #1e689a, #3e9ddc);
	background-image:-moz-linear-gradient(top, #1e689a, #3e9ddc);
	background-image:-ms-linear-gradient(top, #1e689a, #3e9ddc);
	background-image:-o-linear-gradient(top, #1e689a, #3e9ddc);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#1e689a, endColorstr=#3e9ddc);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#1e689a, endColorstr=#3e9ddc)";

}

form#main fieldset {
	border: none;
	margin-bottom: 25px;
}

form#main fieldset:last-of-type {
	margin-bottom: 0;
}

form#main legend {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
}

form#main ol li 
{
	list-style: none;
}
@media (min-width: 501px) {
	img.img-logo{
		height:65px !important;
		margin-top:8px;
		margin-left:-10px !important;
	}
}
@media (max-width: 500px) {
	img.img-logo{
		height:50px !important;
		margin-top:8px;
		margin-left:-10px !important;
	}
	.xs-center{
		text-align:center;
	}
}
@media (max-width: 767px) 
{
	form#main {
		padding:20px;
		width:100% !important;
		min-width:300px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background:#f8f8f8;
	}
	.xs-center{
		text-align:center;
	}
	
	form#main input:not([type=radio]):not([type=checkbox]),
	form#main select,
	form#main textarea {
		background: #ffffff;
		border: 1px solid #eaeaea;
		outline: none;
		padding: 5px;
		clear:both !important;
		width: 100% !important;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		min-height:32px;
	}
	
	form#main label {
		
		font-size:16px;
		margin-top:10px;
	}
	
	#main-login-form
	{
		width: 320px !important;
		margin-left:-160px !important; 
	}
	
	.login-form-field
	{
		width:160px !important;
	}
}


@media (min-width: 768px) 
{
	form#main {
		
		padding: 20px;
		width: 95%;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background:#eaeaea;
	}

	



	form#main ol li 
	{
		background: #f4f4f4;
		border-color: #cccccc;
		border-style: solid;
		border-width: 1px;
		line-height: 30px;
		list-style: none;
		padding: 5px 10px;
		margin-bottom: 2px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	form#main ol ol li 
	{
		background: none;
		border: none;
		float: left;
	}

	form#main label {
		float: left;

		width: 28%;
		font-weight:400;
	}

	form#main input:not([type=radio]):not([type=checkbox]),
	form#main select,
	form#main textarea {
		background: #ffffff;
		border: none;
		font: italic 13px Georgia, "Times New Roman", Times, serif;
		outline: none;
		padding: 5px;
		width: 65%;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;
		border-radius: 3px;
		min-height:32px;
	}
	form#main input:not([type=submit]):focus,
	form#main textarea:focus 
	{
		background: #eaeaea;
	}

	form#main input[type=radio]
	 {
		float: left;
		margin-right: 5px;
	}
}


.form-field
{
	border:1px solid #aaaaaa;
		-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	height:28px;
	min-width:200px;
	font-size:14px;
}

.job-wrap
{
	width:100%;
	border-bottom:1px solid #dddddd;
	padding:10px;
	margin-bottom:20px;
	padding-bottom:20px;
}

.logo-results
{
	/*border:1px solid #e2e2e2;*/
	margin:0 auto;
}

.save-job-link
{
	margin-bottom:10px;
	width:50px;
}

.results-job-title
{

	color:#0066cc !important;
	font-size:18px !important;
	display:block;
}

.results-job-title-link
{
	text-decoration:none !important;
}

.results-job-details
{
	margin-top:10px;
	padding-left:15px;
	font-size:13px;
}

.job-details-link
{
	color:#0066cc !important;
	font-size:14px;
	display:block;
	margin-top:10px;
	float:left;
}

.job-details-link:hover
{
	text-decoration:underline !important;
}

.feed-company
{
	font-size:18px;
	font-weight:bold;
	font-style:italic;
	color:#999999;
}	

.main-top-link
{
	color:#89A2B3 !important;
	font-size:14px !important;
}



.page-header
{
	margin-top:0px;
	padding-bottom:20px;
	width:100%;
	border-bottom:1px solid #eeeeee;
}

.no-margin
{
	margin:0 !important;
}


.category_link
{
	margin-bottom:4px;
	display:block;
	font-size:1.15em;
	margin-top:20px;
	
}

.main_category_link
{
	color:#0066cc !important;
	text-decoration:none;
}


.sub_category_link
{
	color:#5f5f5f;
	font-size:12px;
	text-decoration:none !important;
}

.jobs-location-link
{
	position:relative;
	top:15px;
}

.padding-top-25
{
	padding-top:25px;
}

.small-input-field
{
	width:120px !important;
}




.carousel-icon
{
	position:relative;
	top:85px;
}

.carousel-icon-solid
{
	position:relative;
	top:85px;
}

.carousel-icon-slide
{
	position:relative;
	top:120px;
}


#myCarousel
{
	min-height:200px;
}



.indicator-image
{
	width:12%;
	margin-right:5px;
	max-height:70px;
}

.top-bottom-margin
{
	margin-top:13px !important;
	margin-bottom:13px !important;
}

.s-top-bottom-margin
{
	margin-top:4px !important;
	margin-bottom:10px !important;
}

.aside-header
{
	font-size:18px !important;
	text-decoration:none !important;
	padding-top:6px;
	margin-top:0px;
}


.img-shadow
{
	
	-webkit-box-shadow: 0 2px 5px #aaa;
    -moz-box-shadow: 0 2px 5px #aaa;
    box-shadow: 0 2px 5px #aaa;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 5px;
}


.img-right-margin
{
	margin-right:15px;
	margin-bottom:5px;
}

.no-top-margin
{
	margin-top:0 !important;
	padding-top:0 !important;
}

.sub-text
{
	color:#5f5f5f;
	font-size:11px;
	text-decoration:none;
}

.gray-wrap
{
	background:#f5f5f5;
	width:100%;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

.white-wrap
{
	
	width:100%;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	margin-top:25px;
}

.clear
{
	clear:both;
}

.no-left-padding
{
	padding-left:0px !important;
}

.right-margin-40
{
	margin-right:40px;
}

.xcarousel-caption
{

}

.carousel-indicators
{
	
}


.slider-details-button
{
	font-size:26px !important;
	color:#ffffff;
	margin:0 auto;
	padding-left:30px !important;
	padding-right:30px !important;
	border:1px solid #18b018 !important;
		
	
	background-color:#1ab11a;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#27c027), to(#059b05));
	background-image:-webkit-linear-gradient(top, #27c027, #059b05);
	background-image:-moz-linear-gradient(top, #27c027, #059b05);
	background-image:-ms-linear-gradient(top, #27c027, #059b05);
	background-image:-o-linear-gradient(top, #27c027, #059b05);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#27c027, endColorstr=#059b05);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#27c027, endColorstr=#059b05)";

}

.slider-details-button:hover,.slider-details-button:active
{
	background-color:#18b018 !important;
	color:#ffffff !important;
}



.menu{
	display:block;
	text-transform:uppercase;
	padding:0;
	margin:25px 0 0 0;
}

.menu li{
	display: inline-block;
	position: relative;
	z-index:100;
	padding:0 17px;
}

.menu li:first-child{
	padding-left:30px;
	
}
.menu li:last-child{
	padding-right:0;
}

.menu li a {
	font-size:14px;
	text-decoration:none;
	display:block;
	padding:7px 5px;
	color:#333333 !important;
}

.menu li a:hover, .menu li:hover > a{
	border-bottom:1px solid #D9D9D9;
	color:#D9D9D9;
}

.menu ul 
{
	display: none;
	margin: 0;
	padding: 0;
	
	position: absolute;
	top:98%;
	left: 0px;
	background: #ffffff;
	border-bottom:2px solid #dcdcdc;
	padding-top: 1px;
}

.menu ul li 
{
	display:block;
	float: none;
	background:none;
	margin:0;
	padding:0;
}
.menu ul li:first-child
{
	padding-left:0;
}
.menu ul li a 
{
	font-size:13px;
	font-weight:normal;
	display:block;
	color:#797979;
	background:#ffffff;
	padding-left:10px;
	padding-right:10px;
}

.menu ul li a:hover, .menu ul li:hover > a
{
	background:#f0f0f0;
	border-bottom:none;
	color:#16ad16;
}

.menu li:hover > ul
{ 
	display: block;
}
.menu ul ul {
	left: 149px;
	top: 0px;
}


.white-font
{
	color:#ffffff !important;
}


.xcarousel-caption 
{
	padding-right: 40px;
	padding-top: 40px;
	padding-left: 40px;
	z-index: 10;
	color: #555555 !important;
}


.carousel-link
{
	color: #ffffff !important;
	text-decoration:none !important;
}


.search-bottom-wrap
{
	width:100%;
	padding-bottom:10px;
	text-align:center;
	background-color: rgb(210, 210, 210);
    background-color: rgba(210, 210, 210, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	padding: 8px 0;
	color: #fff;
	font-size: 13px;
}

.solid-search-bottom-wrap
{
	width:100%;
	padding-bottom:10px;
	text-align:center;
	background:#ecf0f1;
	padding: 8px 0;
	color: #fff;
	font-size: 13px;
	border-top:1px solid #dce0e1;
}


.solid-search-form-wrap{
	width:100%;
	padding-bottom:20px;

	margin-top:2px;
	

    background-color: #ecf0f1;
   
	  padding: 8px 0;
	
	  color: #fff;
	  font-size: 13px;
}

.search-form-wrap{
	width:100%;
	padding-bottom:20px;

	margin-top:2px;
	

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

	  padding: 8px 0;
	
	  color: #fff;
	  font-size: 13px;
}
.search-form-wrap h3{
	font-weight:700;
	color:#565656;
	font-size:26px;
	margin:40px 0;
}
.search-form-wrap .btn-green{
	margin-top:10px;
	width:100%;
	text-transform:uppercase;
	padding:10px 12px;
}
.label{
	font-weight:400;
	color:#565656;
	font-size:18px;
	padding:0;
}
.group-1{
	padding:0 8px 0 0;
}
.group-2{
	padding:0 0 0 8px;
}
.input-job{
	border:0;
	margin:0px !important;
	height:40px;
	border-radius:5px;
	box-shadow:0px 1px 2px rgba(187,192,194, .9);
	color:#889292;
	font-weight:400;
	font-size:14px;
	padding:0 35px 0 15px;
	width:100%;
	background-repeat:no-repeat;
	background-position:right;
}

.input-location{
	border:0;
	margin:0px !important;
	height:40px;
	border-radius:5px;
	box-shadow:0px 1px 2px rgba(187,192,194, .9);
	color:#889292;
	font-weight:400;
	font-size:14px;
	padding:0 35px 0 15px;
	width:100%;
	background-repeat:no-repeat;
	background-position:right;
}

.aside-link
{
	text-decoration:none;
}



.bottom-links-nav{
	padding-top: 20px;
}
.bottom-links-nav ul{
	list-style:none;
	margin:0;
	padding:0;
	
}
.bottom-links-nav li{
	margin-bottom:12px;
}
.bottom-links-nav li:last-child{
	margin-bottom:0;
}

.bottom-links-nav a{
	text-decoration:none !important;
	color:#ffffff !important;
}
.bottom-links-nav a:hover{
	color:#ffffff;
	text-decoration:underline;
}

.no-decoration
{
	text-decoration:none !important;
}

.r-margin-15
{
	margin-right:15px;
}

.r-margin-7
{
	margin-right:7px;
}

.job-details-wrap
{
	padding:20px;
	border:1px solid #dfdfdf;
	padding-top:30px;
}

.job-details-info
{
    width: 100%;
    background: #f4f9ff;
    border-top: 3px solid #47a5f4;
    border-bottom: 1px solid #47a5f4;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 9px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.l-margin-50
{
	margin-left:50px;
}

.l-margin-35
{
	margin-left:41px;
}


.l-margin-20
{
	margin-left:20px;
}


.search-result
{
	min-height:100px;
}


.n-jobs-back
{
	text-align:center;
	min-width:115px;
	float:right;
	
	padding:5px;
	color:#ffffff;
	
	background-color:#059b05;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#27c027), to(#059b05));
	background-image:-webkit-linear-gradient(top, #27c027, #059b05);
	background-image:-moz-linear-gradient(top, #27c027, #059b05);
	background-image:-ms-linear-gradient(top, #27c027, #059b05);
	background-image:-o-linear-gradient(top, #27c027, #059b05);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#27c027, endColorstr=#059b05);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#27c027, endColorstr=#059b05)";
	
}


.white-link
{
	color: #ffffff !important; 
	text-decoration:none;
}

.white-link:hover
{
	color: #eeeeee !important;
	text-decoration:underline;
}

.padding-left-15
{
	padding-left:17px;
}



.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;

  padding-bottom:12px;
  text-decoration:none !important;
  padding-right:20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: underline;
}



.tabbable a:hover
{
	text-decoration:none !important;
}

.padding-top-10
{
	padding-top:10px;
}
.padding-right-25
{
	padding-right:25px;
}

#ads-rotator
{
	width:100%;

	background-repeat:no-repeat;
	color:#666666;
	padding-left: 40px;
	text-align:left;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


.jcarousel-skin-ie7 .jcarousel-container 
{
   
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl 
{
	direction: rtl;
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal 
{
    width: 100%;
    padding: 5px 50px;
	line-height:1.1em !important;
}


.jcarousel-skin-ie7 .jcarousel-clip 
{
    overflow: hidden;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal 
{
    width: 99%;
}

#wrap{position:relative;left:-4px;top:-8px}

.jcarousel-skin-ie7 .jcarousel-item 
{
    width: 158px;
    height: 100px;
	
}

.jcarousel-skin-ie7 .jcarousel-item a
{
   color:white;
   text-decoration:none;
}

.jcarousel-skin-ie7 .jcarousel-item:hover,
.jcarousel-skin-ie7 .jcarousel-item:focus {
    border-color: #808080;
}

.jcarousel-skin-ie7 .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 7px;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 7px;
	margin-right: 0;
}

.jcarousel-skin-ie7 .jcarousel-item-vertical {
    margin-bottom: 7px;
}

.jcarousel-skin-ie7 .jcarousel-item-placeholder {
}


.jcarousel-skin-ie7 .jcarousel-next-horizontal {
    position: absolute;
    top: 30px;
    right: 45px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: transparent url(../images/next-new.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../images/prev-new.png);
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-horizontal:focus {
    background-position: -35px 0;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:active {
    background-position: -70px 0;
}

.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -105px 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: transparent url(../images/prev-new.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/next-new.png);
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-horizontal:focus {
    background-position: -35px 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal:active {
    background-position: -70px 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -105px 0;
}


#companies-carousel
{
	width:100%;
	height:auto;
	background-color:#f7f7f7;
	position:relative;
	
}
#companies-carousel h1{
	text-align:center;
	margin:42px 0 25px 0;
}

.small-link
{
	font-weight:400;
	font-size:14px;
}

.margin-bottom-5
{
	margin-bottom:5px;
}

.margin-top-10
{
	margin-top:10px;
}

.margin-top-7
{
	margin-top:7px;
}

.margin-top-3
{
	position:relative;
	top:3px;
	left:3px;
}
a.navbar-brand.custom-color img {
    height: 40px;
}
#wrapper{
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

#header{
	width:100%;
	min-height:90px;
	padding-top:10px;
}


.top-line{
	width:100%;
 -webkit-box-shadow: 0 4px 4px -2px #aaaaaa;
   -moz-box-shadow: 0 4px 4px -2px #aaaaaa;
        box-shadow: 0 4px 4px -2px #aaaaaa;
	height:8px;
	
}
.top{
	width:100%;
	height:auto;
	border-bottom:1px solid #e8eaeb;
}

.media-top-right{
	float:right;
}
.media-top{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
}


.media-top li,.media-top-2 li{
	display:inline-block;
}
.media-top .item{
	padding:8px 8px;
	color:#c0c2c2;
}
.media-top .item a{
	color:#c0c2c2;
}
.media-top .item a:hover{
	color:#16ad16;
}

.media-top-2{
	list-style:none;
	margin:0 0 0 5px;
	padding:0;
	float:left;
}

.media-top-2 .btn-blue,.media-top-2 .btn-green{
	margin-top:5px;
	margin-bottom:5px;
	padding:5px 15px;
}

.main-logo
{
	margin-top:20px 0;
}

.min-height-100
{
	min-height:90px;
}

.full{
	padding:0;
}

.main-nav{
	padding:0;
}
nav{
	display:block;
}

.footer
{
	width:100%;
	min-height:200px !important;

	padding-top:30px;
	padding-bottom:30px;
}

.bottom-links h4
{
	font-weight: bold;
	margin-top:0px;
}


.footer-bottom{
	width:100%;
	height:auto;
	padding-top:12px;
	padding-bottom:12px;
	background-color:#444444;
	font-size:12px;
	position:absolute;
}


.widget-title {
	color:#ffffff;
	margin:35px 0 15px 0;
	text-align:left;
}


.btn-blue
{
	background-color:#1e689a;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ddc), to(#1e689a));
	background-image:-webkit-linear-gradient(top, #3e9ddc, #1e689a);
	background-image:-moz-linear-gradient(top, #3e9ddc, #1e689a);
	background-image:-ms-linear-gradient(top, #3e9ddc, #1e689a);
	background-image:-o-linear-gradient(top, #3e9ddc, #1e689a);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3e9ddc, endColorstr=#1e689a);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#3e9ddc, endColorstr=#1e689a)";
	margin:5px 0;
	color:#ffffff;
	border:none;
	text-decoration:none;
}
.btn-blue:hover{
	background:#0087e0;
	color:#ffffff !important;
}
.btn-green{
	background-color:#059b05;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#27c027), to(#059b05));
	background-image:-webkit-linear-gradient(top, #27c027, #059b05);
	background-image:-moz-linear-gradient(top, #27c027, #059b05);
	background-image:-ms-linear-gradient(top, #27c027, #059b05);
	background-image:-o-linear-gradient(top, #27c027, #059b05);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#27c027, endColorstr=#059b05);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#27c027, endColorstr=#059b05)";
	margin:5px 0;
	color:#ffffff;
	border:none;
	text-decoration:none;
}
.btn-green:hover{
	background:#059b05;
	color:#ffffff !important;
}

.carousel-indicators 
{
	border-top:1px solid #cccccc;
	padding-top:5px;
  position: absolute;
  bottom: -30px !important;
  left: 40%;
  z-index: 15;
  width: 80%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
  outline:none;
}

.btn-gradient 
{
  background-color:#ebebeb;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#ebebeb));
	background-image:-webkit-linear-gradient(top, #fbfbfb, #ebebeb);
	background-image:-moz-linear-gradient(top, #fbfbfb, #ebebeb);
	background-image:-ms-linear-gradient(top, #fbfbfb, #ebebeb);
	background-image:-o-linear-gradient(top, #fbfbfb, #ebebeb);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fbfbfb, endColorstr=#ebebeb);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fbfbfb, endColorstr=#ebebeb)";
	color:#000000;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-gradient:hover,
.btn-gradient:focus,
.btn-gradient:active,
.btn-gradient.active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.gray-link
{
	color:#565656;
	text-decoration:underline;
}

.gray-link:hover
{
	color:#222222;
	text-decoration:underline;
}

.login-form-field
{
	width:280px;
	border:1px solid #aaaaaa;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	height:28px;

	font-size:14px;
}

#main-login-form 
{
    -webkit-box-shadow: 0 3px 10px #aaa;
    -moz-box-shadow: 0 3px 10px #aaa;
    box-shadow: 0 3px 10px #aaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	line-height:1.1em;
	float: right;
	
    width: 450px;
	height:240px;
	position:absolute;      
	top: 50%;
    left: 50%;
    margin-top:-100px; 
    margin-left:-250px; 
	z-index:6001;
	border:4px solid #999999;
	background:#f5f5f5;
	margin-bottom:40px;
	padding: 5px 20px 10px;

	display:none;	
}


.close-login-icon
{
	float:right;
	position:relative;
	top:-4px;
	left:19px;
}



.form-field
{
	border:1px solid #aaaaaa;
		-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	height:28px;
	min-width:160px;
	font-size:14px;
}

.admin-main-content
{
	background:#fbfbfb;
	border-top:1px solid #eeeeee;
	padding:10px;
	min-height:400px;
}

.sub-loc-select
{
	
}

.min-height-400
{
	min-height:430px;
}

.underline-link
{
	text-decoration:underline !important;
}



.bottom-links li
{
	width:50%;
	float:left;
}

.bottom-links h4
{
	color: #ffffff !important;
}

@media (max-width: 992px) 
{

	.form-group
	{
		padding-left:0px !important;
		padding-right:0px !important;
	}
	
	.results-job-details
	{
		/*list-style:none*/;
	}
	
	.job-details-link
	{
		float:none !important;
	}
	
	.job-wrap
	{
		text-align:left;
	}

	.hide-sm
	{
		display:none;
	}
	
	.small-tile img
	{
		display:none !important;
	}
	
	.small-tile
	{
		display:block !important;
		height:50px !important;
		float:right !important;
		margin-right:0px !important;
		clear:both;
	}
	
	.h3-tile
	{
		padding:0 !important;
		margin:0 !important;
		padding-top:10px !important;
	}
	
	#nav_menu
	{
		background:#f5f5f5;
		width:100%;
		margin-bottom:20px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		text-align:center !important;
	}
	
	#nav_menu li
	{
		border-bottom:1px solid #dddddd;
		padding:10px;
	
	}
	
	#nav_menu li a
	{
		font-size:18px !important;
	}
	
	.top-menu li a:hover, .menu li:hover > a
	{
		border-style:none !important;
	}
	
	.top-menu li:hover 
	{
		
		background:#cccccc;
	}
}

@media (min-width: 993px)
{

	.hide-sm
	{
		display:block !important;
	}
	
}


.red-font
{
	color:red;
}

.width-100
{
	width:100%;
}

.padding-5
{
	padding:5px !important;
}

.bottom-header
{
	padding-top:10px;
	padding-bottom:5px;
	font-weight:bold;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
}

.expand_menu_link
{
	color: #333333 !important;
	font-size:18px;
	text-decoration:none;
}

.expand_menu_link:hover,.expand_menu_link:active,.expand_menu_link:focus
{
	text-decoration:none !important;
}

.menu-top-margin
{
	
}

.top-menu li a {
	font-size:14px;
	text-decoration:none;
	display:block;
	padding:7px 5px;
	color:#333333 !important;
}

.top-menu li a:hover, .menu li:hover > a{
	border-bottom:1px solid #D9D9D9;
	color:#D9D9D9;
}

.top-menu
{
	text-transform:uppercase;
}

.top-menu li
{
	padding-right:8px !important;
}

.top-menu li:last-child
{
	padding-right:0px !important;
}

.relative-top-10
{
	position:relative;
	top:-9px;
}

.min-width-200
{
	min-width:230px;
}

.left-right-margin
{
	margin-left:25px;
	margin-right:25px;
}

.login-icon
{
	position:absolute;
	top:11px;
	left:9px;

}

.flogin-icon
{
	position:relative;
	
}

#top_msg_header
{
	margin-top:12px;
	margin-bottom:2px;
}

.login-hr
{
	margin-top:15px;
	margin-bottom:15px;
}

.min-width-100
{
	min-width:100px;
}

.relative-top-10
{
	position:relative;
	top:10px;
}

#resume_content
{
	padding-left:15px;
	padding-right:15px;
}

.bottom-icon
{
	float:left;
	margin-right:20px;
}

.l-margin-40
{
	margin-left:15px;
}




.signin-icon
{
	margin-left:2px;
}

#home_panel_wrap
{
	
	background-size: cover;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}


#slideshow { 
    margin: 50px auto; 
    position: relative; 
   
    padding: 10px; 
  
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
	
	color:#ffffff;
	font-size:24px;
	font-weight:bold;
	 text-shadow: 1px 1px #000000;
}



.btn-link {
  background: none;
  color: #666666 !important;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Lato', arial, sans-serif !important;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  border: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-link:focus {
  outline: none;
}
.btn-link:hover {
 
}


/* ======= Modal ======= */
.modal.modal-video .modal-dialog {
  width: 760px;
  margin: 30px auto;
}
.modal.modal-video .modal-body {
  padding: 10px;
  padding-top: 0;
}
.modal.modal-video .modal-header {
  border: none;
  padding: 10px;
}
.modal.modal-video .modal-title {
  color: #377130;
}
.modal.modal-login .modal-dialog,
.modal.modal-signup .modal-dialog,
.modal.modal-resetpass .modal-dialog {
  width: 460px;
  margin: 30px auto;
}
.modal.modal-login .modal-header,
.modal.modal-signup .modal-header,
.modal.modal-resetpass .modal-header {
  border: none;
  padding: 15px;
}
.modal.modal-login .modal-header .modal-title,
.modal.modal-signup .modal-header .modal-title,
.modal.modal-resetpass .modal-header .modal-title {
  margin-top: 15px;
  margin-bottom: 15px;
}
.modal.modal-login .modal-body,
.modal.modal-signup .modal-body,
.modal.modal-resetpass .modal-body {
  padding: 30px;
  padding-top: 0;
}
.modal.modal-login .modal-body .intro,
.modal.modal-signup .modal-body .intro,
.modal.modal-resetpass .modal-body .intro {
  color: #666666;
  margin-bottom: 30px;
}
.modal.modal-login .modal-footer,
.modal.modal-signup .modal-footer,
.modal.modal-resetpass .modal-footer {
  padding: 12px;
  background: #f5f5f5;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
}
.modal.modal-login .modal-footer p,
.modal.modal-signup .modal-footer p,
.modal.modal-resetpass .modal-footer p {
  color: #666666;
  font-size: 14px;
  margin-bottom: 0;
}
.modal.modal-login .form-group,
.modal.modal-signup .form-group,
.modal.modal-resetpass .form-group {
  position: relative;
}
.modal.modal-login .form-group.email:before,
.modal.modal-signup .form-group.email:before,
.modal.modal-resetpass .form-group.email:before {
  
  width:15px;
  height:15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999999;
}
.modal.modal-login .form-group.password:before,
.modal.modal-signup .form-group.password:before,
.modal.modal-resetpass .form-group.password:before {
  width:15px;
  height:15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 10px;
  top: 12px;
  color: #999999;
}
.modal.modal-login .form-control,
.modal.modal-signup .form-control,
.modal.modal-resetpass .form-control {
  font-size: 16px;
  padding-left: 30px;
}
.modal.modal-login .social-login,
.modal.modal-signup .social-login,
.modal.modal-resetpass .social-login {
  margin-bottom: 15px;
}
.modal.modal-login .social-login li,
.modal.modal-signup .social-login li,
.modal.modal-resetpass .social-login li {
  margin-bottom: 10px;
}
.modal.modal-login .social-login li .btn,
.modal.modal-signup .social-login li .btn,
.modal.modal-resetpass .social-login li .btn {
  color: #fff;
}
.modal.modal-login .social-login li .btn:hover,
.modal.modal-signup .social-login li .btn:hover,
.modal.modal-resetpass .social-login li .btn:hover {
  color: #fff;
}
.modal.modal-login .social-login li .btn .fa,
.modal.modal-signup .social-login li .btn .fa,
.modal.modal-resetpass .social-login li .btn .fa {
  font-size: 18px;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.modal.modal-login .twitter-btn,
.modal.modal-signup .twitter-btn,
.modal.modal-resetpass .twitter-btn {
  background: #55acee;
}
.modal.modal-login .twitter-btn:hover,
.modal.modal-signup .twitter-btn:hover,
.modal.modal-resetpass .twitter-btn:hover {
  background: #2795e9;
}
.modal.modal-login .facebook-btn,
.modal.modal-signup .facebook-btn,
.modal.modal-resetpass .facebook-btn {
  background: #3b5998;
}
.modal.modal-login .facebook-btn:hover,
.modal.modal-signup .facebook-btn:hover,
.modal.modal-resetpass .facebook-btn:hover {
  background: #2d4373;
}
.modal.modal-login .google-btn,
.modal.modal-signup .google-btn,
.modal.modal-resetpass .google-btn {
  background: #dd4b39;
}
.modal.modal-login .google-btn:hover,
.modal.modal-signup .google-btn:hover,
.modal.modal-resetpass .google-btn:hover {
  background: #c23321;
}
.modal.modal-login .forgot-password,
.modal.modal-signup .forgot-password,
.modal.modal-resetpass .forgot-password {
  font-size: 13px;
  margin-top: 10px;
}
.modal.modal-login .forgot-password a,
.modal.modal-signup .forgot-password a,
.modal.modal-resetpass .forgot-password a {
  color: #999999;
}
.modal.modal-login .forgot-password a:hover,
.modal.modal-signup .forgot-password a:hover,
.modal.modal-resetpass .forgot-password a:hover {
  text-decoration: underline;

}
.modal.modal-login .divider,
.modal.modal-signup .divider,
.modal.modal-resetpass .divider {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  color: #999999;
  text-transform: uppercase;
}
.modal.modal-login .divider span,
.modal.modal-signup .divider span,
.modal.modal-resetpass .divider span {
  background: #fff;
  display: inline-block;
  padding: 0 10px;
  position: relative;
}
.modal.modal-login .divider:before,
.modal.modal-signup .divider:before,
.modal.modal-resetpass .divider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  background: #e5e5e5;
  height: 1px;
  width: 100%;
}
.modal.modal-login .note,
.modal.modal-signup .note,
.modal.modal-resetpass .note {
  color: #999999;
  font-size: 13px;
  margin-bottom: 30px;
}
.modal.modal-login .btn + .note,
.modal.modal-signup .btn + .note,
.modal.modal-resetpass .btn + .note {
  margin: 15px 0;
}
.modal.modal-login .remember label,
.modal.modal-signup .remember label,
.modal.modal-resetpass .remember label {
  font-size: 14px;
  color: #666666;
}

.search-form-wrap h4
{
	font-size:1.6em;
	color: #ffffff;
	text-shadow: 2px 2px #000000 !important;
}

.solid-search-form-wrap h4
{
	font-size:1.6em;
	color: #333333;
}

.nav-tabs li
{
	font-size:1.1em;	
}

.text-logo
{
	font-size:2.0em;
	font-weight:bold;
	margin-top:13px;
}

.main-container
{
	padding-top:35px;
}

.languages-menu
{
	position:relative;
	top:-10px;
	margin-bottom:5px;
}

.no-padding
{
	padding:0 !important;
}

.bigger-font
{
	font-size:1.15em;
}

.default-back-color
{
	background:#358eca;
}

.footer .sub-text, .footer a
{
	color: #ffffff;
}
.footer a:hover{text-decoration:underline !important;}
.upper-case
{
	text-transform:uppercase;
}


.fill-back 
{
    width: 100%;
    height: 100%;

    background-position: center;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.add-shadow
{
	text-shadow: 1px 1px #333333 !important;
}

.main-search-label
{
	font-size:13px;
	color: #ffffff;
}

.main-search-label a
{
	font-weight: bold;
	color: #ffffff !important;
}

.bottom-margin-5
{
	margin-bottom:5px;
}

.slide-product-image
{
	max-height:110px;
}

.users-admin-footer
{
	background:#444444;
}

.admin-top-button
{
	margin-top:10px;
}

.admin-user-text-logo
{
	color:#333333;
}

.btn-main-login
{
	color:#ffffff !important;
	padding-left:5px;
	padding-right:5px;
}
div.icon-h5 h5:first-child{margin-top:10px;}
div.icon-h5 h5 i{
	margin-right:5px;
}
div.icon-h5 h5{
	margin-top:5px;
	margin-bottom:0;
}
ul.results-job-details {
    margin-left: 10px;
}
a.results-job-title-link:hover{text-decoration:underline !important;}
.no-rpadding{padding-right:0;}


input[type="checkbox"].style{
    display:none;
}

input[type="checkbox"].style + label {
    font-size: 14px;
	cursor:pointer;
	font-weight: normal;
}

input[type="checkbox"].style + label span {
    display: inline-block;
    width: 15px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../images/uncheck.png) no-repeat center left;
    cursor: pointer;
    background-size: 14px;
}

input[type="checkbox"].style:checked + label span {
	background: url(../images/checked.png) no-repeat center left;
}

table.job-require {
    width: 100%;
	border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
	margin-bottom: 0;
}
table.job-require tbody tr td:first-child {
    width: 33%;
    padding: 8px 5px;
    background: #eee;
}

h4.border-b {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
    padding-left: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.content-pagenation {
    padding: 35px 0;
    text-align: left;
}
.content-pagenation li {
    display: inline-block;
}
.content-pagenation li a:hover, .content-pagenation li.active a {
    background: #303030;
    color: #FFF;
}
.content-pagenation li a {
    color: #303030;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: #FFF;
    padding: 10px 12px;
    box-shadow: 0px 0px 5px #ADADAD;
    -webkit-box-shadow: 0px 0px 2px #ADADAD;
    -moz-box-shadow: 0px 0px 2px #ADADAD;
    -o-box-shadow: 0px 0px 2px #ADADAD;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

table.table-contact {
    width: 100%;
    line-height: 25px;
}
table.table-contact tbody tr td:first-child {
    width: 15%;
	vertical-align: top;
}
.none{display:none;}
h5 span.glyphicon {
    margin-right: 5px;
}


div.loading{
	font-size: 14px;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	color: #333;
}
div.loading span {
	display: block; 
	margin: 0 auto;
}

div.loading span[class*="l-"] {
	height: 4px; width: 4px;
	background: #000;
	display: inline-block;
	margin: 12px 2px;
	
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	
	-webkit-animation: loader 4s infinite;
	-webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-webkit-animation-fill-mode: both;
	-moz-animation: loader 4s infinite;
	-moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-moz-animation-fill-mode: both;
	-ms-animation: loader 4s infinite;
	-ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	-ms-animation-fill-mode: both;
	animation: loader 4s infinite;
	animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
	animation-fill-mode: both;
}

div.loading span.l-1 {-webkit-animation-delay: 1s;animation-delay: 1s;-ms-animation-delay: 1s;-moz-animation-delay: 1s;}
div.loading span.l-2 {-webkit-animation-delay: 0.8s;animation-delay: 0.8s;-ms-animation-delay: 0.8s;-moz-animation-delay: 0.8s;}
div.loading span.l-3 {-webkit-animation-delay: 0.6s;animation-delay: 0.6s;-ms-animation-delay: 0.6s;-moz-animation-delay: 0.6s;}
div.loading span.l-4 {-webkit-animation-delay: 0.4s;animation-delay: 0.4s;-ms-animation-delay: 0.4s;-moz-animation-delay: 0.4s;}
div.loading span.l-5 {-webkit-animation-delay: 0.2s;animation-delay: 0.2s;-ms-animation-delay: 0.2s;-moz-animation-delay: 0.2s;}
div.loading span.l-6 {-webkit-animation-delay: 0;animation-delay: 0;-ms-animation-delay: 0;-moz-animation-delay: 0;}

@-webkit-keyframes loader {
	0% {-webkit-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-webkit-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-moz-keyframes loader{
	0% {-moz-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-moz-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-keyframes loader{
	0% {-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}

@-ms-keyframes loader {
	0% {-ms-transform: translateX(-30px); opacity: 0;}
	25% {opacity: 1;}
	50% {-ms-transform: translateX(30px); opacity: 0;}
	100% {opacity: 0;}
}
a.login-trigger.btn.btn-primary.custom-back-color {
    color: #fff !important;
}
.dataTables_wrapper .dataTables_filter input{
	border:1px solid #aaa;
}
div#myTable_filter {
    margin-bottom: 15px;
}
table.dataTable tbody th, table.dataTable tbody td a:hover{text-decoration:underline;}
.panel .list-group-item:first-child{
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-top: 0;
}
.panel .list-group-item:last-child{
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	border-bottom: 0;
}
input[type=radio] {
    margin-right: 13px;
}
input[type=radio]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #fff;
    background-size: contain;
	margin-top:-4px;
}
.radio-default:checked:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #fff url(../images/check-default.png) no-repeat center center;
    background-size: 20px 20px;
}
.radio-info:checked:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #fff url(../images/check-info.png) no-repeat center center;
    background-size: 20px 20px;
}
.radio-primary:checked:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: #fff url(../images/check-primary.png) no-repeat center center;
    background-size: 20px 20px;
}
input[type="checkbox"].style{
    display:none;
}

input[type="checkbox"].style + label {
    font-size: 14px;
	cursor:pointer;
	font-weight: normal;
}

input[type="checkbox"].style + label span {
    display: inline-block;
    width: 15px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(../images/uncheck.png) no-repeat center left;
    cursor: pointer;
    background-size: 14px;
}

input[type="checkbox"].style:checked + label span {
	background: url(../images/checked.png) no-repeat center left;
}
.light{
	font-family: 'Open Sans Condensed', sans-serif;
}
.lato{
	font-family: 'Lato', sans-serif;
}
.para{
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 0.7px;
	line-height: 23px;
    color: #000;
}
.tab-pane ul{
	margin: 0;
	padding: 0;
}
.tab-pane ul li{
    list-style: none;
    line-height: 40px;
}
.tab-pane ul li a{
    font-size: 16px;
    color: #428bca;
    word-break: break-all;
}


input[type="radio"].style:checked+label#payment img {
    opacity: 1;
    background-color: #6AAADD;
    border-radius: 15px;
}
.yellowButton{
	margin-top: 15px;
    font-family: Arial,sans-serif;
    font-size: 21px;
    background-color: #ffdc70!important;
    width: auto;
    height: 55px;
    color: #826f2f;
    border: 1px solid #bfa65a;
    border-radius: 3px;
    border-top-color: #ffffc1;
    border-right-color: #aa9249;
    border-bottom-color: #917b36;
    border-left-color: #ad964c;
    background-image: linear-gradient(bottom,#FFCA2A 1%,#FFE28A 51%);
    background-image: -o-linear-gradient(bottom,#FFCA2A 1%,#FFE28A 51%);
    background-image: -moz-linear-gradient(bottom,#FFCA2A 1%,#FFE28A 51%);
    background-image: -webkit-linear-gradient(bottom,#FFCA2A 1%,#FFE28A 51%);
    background-image: -ms-linear-gradient(bottom,#FFCA2A 1%,#FFE28A 51%);
    background-image: -webkit-gradient(linear,left bottom,left 2,color-stop(0.01,#FFCA2A),color-stop(0.51,#FFE28A) );
    text-shadow: 0 1px #ffffc1;
    box-shadow: 0 -1px #bfa65a;
    padding-left: 12px;
    padding-right: 12px;
}
li.has-error input,
li.has-error textarea
{
	border:1px solid #c10000 !important;
}
li.has-error div.response{
	color: #c10000 !important;
	font-weight: 400 !important;
}
span.sub_category_link:after {
    content: ",";
}
span.sub_category_link:last-child:after {
    content: "";
}

.optionGroup {
    font-weight: bold;
    color: #2b2929;
}
    
.optionChild {
    padding-left: 15px;
}






