        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        	<div class="modal-dialog" role="document">
        		<div class="modal-content">
        			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				    <span aria-hidden="true">&times;</span>
        				</button>
        				<h4 class="modal-title" id="myModalLabel">
        				 ចង់បានការងារល្អប្រាក់ខែខ្ពស់មេនទេ
        				 
        				 </h4>
        			</div>
        			<div class="modal-body text-center">
        			    <p>ចុច Like Page ដើម្បីទទួលបានដំណឹងជ្រើសរើសបុគ្គលិក ច្រើនជាង 200​​ តំណែងរាល់ថ្ងៃ</p>
                        <div class="fb-page" 
                          data-href="https://www.facebook.com/CambodiaHRcom/"
                          data-hide-cover="false"
                          data-show-facepile="true"></div>
        			</div>
        		</div>
        	</div>
        </div>
        
<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>